# DATABASE_URL=postgresql://user:password@localhost:5432/mydb
# dev_basic_tables
DATABASE_URL="postgresql://neondb_owner:npg_zjo1ZOLG5ERY@ep-icy-dream-at4msic5-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=8080
JWT_SECRET=your-long-random-secret-here
