.root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container,
.form-container > div {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 50%;
  & > div {
    margin-top: 5px;
  }
  & > div:first-child {
    margin-top: 0;
  }
}
